---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main class=" p-4 md:p-16">
    <div class="flex items-center justify-center flex-col">
      <img
        class="w-64"
        src="https://scontent-lim1-1.xx.fbcdn.net/v/t1.18169-9/12743583_876214685810200_3237874288168268688_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=1d70fc&_nc_ohc=qPpZoyfmLj4Q7kNvgEst2rq&_nc_ht=scontent-lim1-1.xx&oh=00_AYARIg4UnFZuILRh7LhWWIBUpTklivJK4ApY74Czf9HN-A&oe=671E2FA6"
        alt=""
      />
      <h1 class="text-blue-500 font-bold text-2xl py-4">UPDS Ingenieria de sistemas</h1>
    </div>
    <section class="grid grid-cols-2 md:grid-cols-4 gap-4">


		<!-- COLEGIO ABAROA -->
      <div class="shadow-md rounded-md p-4">
        <img class="rounded-md"
          src="https://abasc.weebly.com/uploads/1/2/6/5/126589047/recurso-1_1.png"
          alt=""
        />
        <h2 class="font-bold text-lg">Colegio: Heroes del Boqueron</h2>
        <p>Promo: 2024 iyggdrasil</p>
        <p>Estudiantes:</p>
        <ul class="list-item text-sm">
          <li>Adriana Ledezma </li>
          <li>Lobo Torrico </li>
		  <li>Melissa Ayala </li>
        </ul>
      </div>


	  	<!-- REGISTRA TU COLEGIO -->
		  <div class="shadow-md rounded-md p-4">
			<img class="rounded-md"
			  src="https://scontent-lim1-1.xx.fbcdn.net/v/t1.18169-9/17457639_10212257565425162_6362044396964604254_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=25d718&_nc_ohc=NCAOduT6k9kQ7kNvgE-H5mr&_nc_ht=scontent-lim1-1.xx&oh=00_AYDbe8z3fHmAh8Hfrc25PvowX8DR8Gh1z-tgnHh9a0S-Vg&oe=671E5752"
			  alt=""
			/>
			<h2 class="font-bold text-lg">Colegio: Abaroa A</h2>
			<p>Promo: 2024</p>
			<p>Estudiantes:</p>
			<ul class="list-item text-sm">
			  <li>Almaraz Jorge</li>
			  <li>Vega Mauricio</li>
			</ul>
		  </div>
	  
    </section>
  </main>
</Layout>
