---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main class="p-16">
    <div class="flex items-center justify-center flex-col">
      <img
        class="w-64"
        src="https://scontent-lim1-1.xx.fbcdn.net/v/t1.18169-9/12743583_876214685810200_3237874288168268688_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=1d70fc&_nc_ohc=qPpZoyfmLj4Q7kNvgEst2rq&_nc_ht=scontent-lim1-1.xx&oh=00_AYARIg4UnFZuILRh7LhWWIBUpTklivJK4ApY74Czf9HN-A&oe=671E2FA6"
        alt=""
      />
      <h1 class="text-blue-500 font-bold text-4xl">Recuerdos UPDS</h1>
    </div>
	<section class="grid grid-cols-20 md:grid-cols-4 gap-4 ">

		<div class=" shadow-md rounded-md p-4">
			<img src="https://scontent-lim1-1.xx.fbcdn.net/v/t1.18169-9/12743583_876214685810200_3237874288168268688_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=1d70fc&_nc_ohc=qPpZoyfmLj4Q7kNvgEst2rq&_nc_ht=scontent-lim1-1.xx&oh=00_AYARIg4UnFZuILRh7LhWWIBUpTklivJK4ApY74Czf9HN-A&oe=671E2FA6" alt="">
			<h2 class="font-bold text-lg ">Colegio: Eusebio tudela Tapia II</h2>
			<p>Promo: </p>
			<p>Estudiantes:</p>
			<ul class="list-item text-sm">
				<li>Celso Franciscano</li>
			</ul>

		</div>

	</section>
  </main>
</Layout>
